@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@media (min-width: 480px) { 
  body {
    background-color: rgb(248 250 252);
  }
 }

 @media (min-width: 720px) { 
  body {
    background-color: rgb(243 244 246);
  }
 }

 @media (min-width: 600px) {
  .show {
    display: block;
  }
 }

 #star svg {
  fill: #ecc022;
}

/* width */
::-webkit-scrollbar {
  width: 1rem;
  height: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3b82f6;
  border-radius: 100vh;
  border: 3px solid #e2e8f0;
  transition: background-color 1s ease;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2563eb;
}